*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

#wrapper{
  
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
   
    perspective:10px ;                                                                                                                                                                                                                                        
}
.container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    transform-style:preserve-3d ;
    z-index:-1;
}
.background{
    transform: translatez(-40px) scale(5) ;
}
.foreground{
    transform: translatez(-20px) scale(3);
  
}
.background,.foreground{
   position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
    object-fit: cover;
}
h1{
    position:absolute;
    top:5rem;
    left:50%;
    color:white;
   transform: translate(-50%);
    letter-spacing: 4x;
    font-size: 10rem;
    text-shadow: 20px 20px 20px red,15px 15px 15px violet;
}
section{
    background-color: black;
    color:aliceblue;
    padding:5 rem 0;
    justify-content: center;
    align-items: center;
}
 .secheading{
    font-size: 15rem;
    padding:0 10rem;
    
 }
 .text{
    font-size: 10rem;
    padding: 0 10rem;
    margin:5rem 0;
 }
 .bg{
 position: relative;   
 width:100%; 
 background-attachment: fixed;
background-image:center ;
 height:500px;
}
.bg1{
    background-image: url(cssClass4/parallax/sp.jpg);

}
.bg2{
    background-image: url(/cssClass4/parallax/sp1.jpg);
    
}
.bg3{
    background-image: url(/cssClass4/parallax/sp3.jpg);
  
}
h2{
    position:relative;
    top:10rem;
    left:50%;
    color: blueviolet;
    text-shadow: 10px 10px 10px red,9px 9px 9px yellow;
    
   transform: translate(-10%);
    letter-spacing: 1x;
    font-size: 30rem;
}
h3{
    font-size: 10rem;
}